<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
Users table:
    <table>
        <thead>
        <tr>
            <th> Id </th>
            <th> Username </th>
            <th> Date of birth </th>
            <th> Email </th>
            <th> Roles </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.id}"></span></td>
            <td><span th:text="${user.username}"></span></td>
            <td><span th:text="${user.dateOfBirth}"></span></td>
            <td><span th:text="${user.email}"></span></td>
            <td><span th:text="${user.roles}"></span></td>
            <td><a th:href="'/admin' + '/' + ${user.id} + '/update'">Update</a></td>
            <td><a th:href="'/admin' + '/' + ${user.id} + '/delete'">Delete</a></td>
        </tr>
        </tbody>
    </table>

<a href="/admin/add">Add new user</a>

</body>
</html>